@use '../../../../styles/mixins' as *;

.linear-gradient {
  width: 100%;
  height: 8vh;
  background: linear-gradient(2deg, var(--color-section-background) 50%, transparent 50%);

  @include tablet {
    height: 10vh;
  }

  @include desktop {
    height: 15vh;
  }
}
