@use '../../../../../styles/mixins' as *;

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all var(--transition-base);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  &:active {
    background: var(--color-primary);
    border-color: var(--color-primary);
  }

  &__arrow {
    width: 48px;
    height: 48px;
    display: block;
    transition: filter var(--transition-base);
    pointer-events: none;
    user-select: none;

    &--dark {
      filter: invert(1) brightness(1.2);
    }
  }
}
