@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.separator {
  display: flex;
  align-items: center;
  justify-content: center;

  &--horizontal {
    width: 100%;
    height: 1px;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
    }
  }

  &--vertical {
    width: 1px;
    height: 100%;
    flex-direction: column;

    &::before {
      content: '';
      flex: 1;
      width: 1px;
    }
  }

  &--solid::before {
    border-style: solid;
  }

  &--dashed::before {
    border-style: dashed;
  }

  &--dotted::before {
    border-style: dotted;
  }

  &--small {
    margin: var(--space-2) 0;
  }

  &--medium {
    margin: var(--space-4) 0;
  }

  &--large {
    margin: var(--space-8) 0;
  }

  &--vertical.separator--small {
    margin: 0 var(--space-2);
  }

  &--vertical.separator--medium {
    margin: 0 var(--space-4);
  }

  &--vertical.separator--large {
    margin: 0 var(--space-8);
  }

  &--border::before {
    border-color: var(--color-border);
  }

  &--muted::before {
    border-color: var(--color-text-muted);
  }

  &--primary::before {
    border-color: var(--color-primary);
  }
  
  &--horizontal {
    &.separator--solid::before {
      border-top-width: 1px;
    }

    &.separator--dashed::before {
      border-top-width: 1px;
    }

    &.separator--dotted::before {
      border-top-width: 1px;
    }
  }
  &--vertical {
    &.separator--solid::before {
      border-left-width: 1px;
    }

    &.separator--dashed::before {
      border-left-width: 1px;
    }

    &.separator--dotted::before {
      border-left-width: 1px;
    }
  }
}
