@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/overpass/overpass-v19-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/overpass/overpass-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/overpass/overpass-v19-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/overpass/overpass-v19-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/overpass/overpass-v19-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/syne/syne-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/syne/syne-v24-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/syne/syne-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/syne/syne-v24-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/syne/syne-v24-latin-800.woff2') format('woff2');
}
