@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color var(--transition-base), color var(--transition-base);

  &.viewport-flash::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
    animation: viewport-focus-flash var(--flash-duration, 1.6s) ease-out;
  }
}

section {
  padding-block: var(--space-8);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

@keyframes viewport-focus-flash {
  0% {
    box-shadow: inset 0px 0px 3px 2px rgb(0 103 35), inset 0px 0px 10px 3px rgb(0 80 1 / 43%),
      inset 0px 0px 20px 11px rgb(0 102 75 / 48%);
  }
  20% {
    box-shadow: inset 0px 0px 3px 2px rgb(0 82 28), inset 0px 0px 10px 3px rgb(0 64 1 / 34%),
      inset 0px 0px 20px 11px rgb(0 82 60 / 38%);
  }
  40% {
    box-shadow: inset 0px 0px 3px 2px rgb(0 62 21), inset 0px 0px 10px 3px rgb(0 48 1 / 26%),
      inset 0px 0px 20px 11px rgb(0 61 45 / 29%);
  }
  60% {
    box-shadow: inset 0px 0px 3px 2px rgb(0 41 14), inset 0px 0px 10px 3px rgb(0 32 1 / 17%),
      inset 0px 0px 20px 11px rgb(0 41 30 / 19%);
  }
  80% {
    box-shadow: inset 0px 0px 3px 2px rgb(0 21 7), inset 0px 0px 10px 3px rgb(0 16 1 / 9%),
      inset 0px 0px 20px 11px rgb(0 20 15 / 10%);
  }
  100% {
    box-shadow: inset 0px 0px 3px 2px transparent, inset 0px 0px 10px 3px transparent,
      inset 0px 0px 20px 11px transparent;
  }
}
