@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color var(--transition-base), color var(--transition-base);
}

section {
  padding-block: var(--space-8);
}
