@use 'mixins' as *;

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color var(--transition-base);

  &:hover {
    color: var(--color-primary-dark);
  }

  &:focus-visible {
    @include focus-ring;
  }
}
