section {
  margin: 5vh 0 0 0;
  // padding: 5vh 0 0 0;

  width: 100%;
  max-width: 1440px;

  // flex-direction: column;

  display: flex;
  align-items: center;
  justify-content: center;

  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: min-content 1fr min-content;

  grid-column-gap: 0px;
  grid-row-gap: 0rem;

  grid-template-areas:
    " . greeting . "
    " . form . "
    " . homeArrow . ";
  // gap: 4rem;
}

.greeting {
  grid-area: greeting;
}

.formParent {
  grid-area: form;
}

.homeArraw {
  grid-area: homeArrow;
  background-image: url("./../../../../public/assets/arrows/arrowTop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: clamp(50px, 20vw, 150px);
  height: clamp(50px, 20vw, 150px);
}
