<section id="contact_Component">
  <h1>Say Hi!</h1>

  <div class="formParent">
    <div class="greetings">
      <h2>Want to discuss a new project?</h2>
      <h3>Say hello! let's discuss your ideas and make it happen</h3>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <input type="text" />
      <input type="text" />
      <input type="text" />
    </form>

    <input type="checkbox" name="" id="" />

    <button>Send message</button>
  </div>

  <div class="homeArraw"></div>
</section>
