<section id="contact_Component">
  <div class="bgLine"></div>
  <h1 class="greeting fontSyne disableTextSelection">Say Hi!</h1>

  <div class="formParent">
    <div class="greetings">
      <h2 class="fontOverpass disableTextSelection">
        Want to discuss a new project?
      </h2>
      <h3 class="fontOverpass disableTextSelection">
        Say hello! let's discuss your ideas and make it happen
      </h3>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <input class="formName fontOverpass disableTextSelection" type="text" />
      <input class="formMail fontOverpass disableTextSelection" type="text" />
      <input class="formMessage fontOverpass disableTextSelection" type="text" />
    </form>

    <input type="checkbox" name="" id="" />

    <button class="fontOverpass disableTextSelection">Send message</button>
  </div>

  <div class="homeArraw_Section">
    <a href="#landingPage_firstSector"> <div class="homeArrow"></div></a>
  </div>
</section>
