section {
  margin: 5vh 0 0 0;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    " . greeting . "
    " . form . "
    " . homeArrow . ";
  background-color: black;
  align-items: center;
  justify-content: center;
}

.greeting {
  grid-area: greeting;
  color: var(--primeColor-white);
}

h2 {
  color: var(--primeColor-white);
}

h3 {
  color: var(--primeColor-white);
}

.formParent {
  grid-area: form;
}

.homeArraw_Section {
  grid-area: homeArrow;

  .homeArrow {
    background-image: url("./../../../../public/assets/arrows/arrowTop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: clamp(50px, 20vw, 150px);
    height: clamp(50px, 20vw, 150px);
  }
}

@media screen and (max-width: 720px) and (orientation: portrait) {
}

@media screen and (max-width: 720px) and (orientation: landscape) {
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: portrait) {
}

@media screen and (min-width: 720px) and (max-width: 1024px) and (orientation: landscape) {
}

@media screen and (min-width: 1025px) {
}
