<div class="ultraWide">
  <section id="portfolio_Component">
    <div class="wrapperH1">
      <h1 class="secondFont disableTextSelection" appHighlighting>
        {{ "PORTFOLIO.title" | translate }}
      </h1>
    </div>

    <span class="primeFont disableTextSelection">{{
      "PORTFOLIO.description" | translate
    }}</span>

    <app-project></app-project>

    <div class="arrowSector">
      <a
        [routerLink]="'/'"
        [fragment]="'linearGradient'"
        (click)="scrollToFragment('linearGradient')"
      >
        <div
          [ngClass]="{
            'rotate-left': rotatingArrowIsLeft,
            'rotate-right': !rotatingArrowIsLeft
          }"
        >
          <app-scroll-to-fragment-optional></app-scroll-to-fragment-optional>
        </div>
      </a>
    </div>
  </section>
</div>
