@use '../../../../../styles/mixins' as *;

.projects-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-4) var(--space-8);

  &__container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--space-4);
  }

  &__title {
    @include heading-1;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: var(--space-4);
    font-size: clamp(1.5rem, 5vw + 0.5rem, 5rem);
  }

  &__description {
    @include body-large;
    text-align: center;
    text-wrap: balance;
    max-width: 80ch;
    padding: var(--space-4) 0;
    margin: 0;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__separator {
    margin: var(--space-4) 0;
  }

  @include tablet {
    padding: var(--space-4) var(--space-8);

    &__separator {
      margin: var(--space-6) 0;
    }
  }

  @include desktop {
    &__container {
      padding: 0 var(--space-8);
    }

    &__separator {
      margin: var(--space-8) 0;
    }
  }
}
