<div class="ultraWide">
  <section class="imprint_component" id="imprint_component">
    <div class="cardSection">
      <div class="businessCard">
        <p>
          <b>Konstantin Aksenov</b> <br />
          Loma Plata <br />
          Paraguay
        </p>

        <div>
          <h3>{{ "IMPRINT.policy-card-01" | translate }}</h3>
          <p class="businessCardEmail">
            E-Mail: Konstantin.Aksenov&#64;dev2k.org
          </p>
        </div>
      </div>

      <app-call-action-button
        [buttonClass]="'routerHome'"
        [buttonTextRowOne]="'BUTTONS.switchBack'"
        routerLink="/home"
      >
      </app-call-action-button>
    </div>

    <div class="privacyLegalWrapper">
      <h1 class="greeting secondFont disableTextSelection" appHighlighting>
        {{ "IMPRINT.policy-02" | translate }}
      </h1>

      <div class="privacyLegal">
        <h1>{{ "IMPRINT.privacy-policy-01" | translate }}</h1>
        <p>{{ "IMPRINT.privacy-policy-02" | translate }} : 24. November 2024</p>
        <h2>{{ "IMPRINT.privacy-policy-03" | translate }}</h2>
        <ul class="index" id="index">
          <li>
            <a routerLink="/imprint" fragment="m3" class="index-link">{{
              "IMPRINT.index-link-01" | translate
            }}</a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="mOverview" class="index-link">
              {{ "IMPRINT.index-link-02" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m2427" class="index-link">
              {{ "IMPRINT.index-link-03" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m27" class="index-link">
              {{ "IMPRINT.index-link-04" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m25" class="index-link">
              {{ "IMPRINT.index-link-05" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m24" class="index-link">
              {{ "IMPRINT.index-link-06" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m10" class="index-link">
              {{ "IMPRINT.index-link-07" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m225" class="index-link">
              {{ "IMPRINT.index-link-08" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m134" class="index-link">
              {{ "IMPRINT.index-link-09" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m182" class="index-link">
              {{ "IMPRINT.index-link-10" | translate }}
            </a>
          </li>
          <li>
            <a routerLink="/imprint" fragment="m136" class="index-link">
              {{ "IMPRINT.index-link-11" | translate }}
            </a>
          </li>
        </ul>
        <h2 id="m3">{{ "IMPRINT.responsible-person" | translate }}</h2>
        <p>
          Konstantin, Aksenov <br />
          Loma Plata, Paraguay
        </p>
        <p>
          E-Mail-Adresse:
          <a href="Konstantin.Aksenov&#64;dev2k.org"
            >Konstantin.Aksenov&#64;dev2k.org</a
          >
        </p>
        <h2 id="mOverview">{{ "IMPRINT.overview-processing" | translate }}</h2>
        <p>{{ "IMPRINT.processing-description" | translate }}</p>
        <h3>{{ "IMPRINT.processing-description-h3" | translate }}</h3>
        <ul>
          <li>{{ "IMPRINT.type-of-processed-data-1" | translate }}</li>
          <li>{{ "IMPRINT.type-of-processed-data-2" | translate }}</li>
          <li>{{ "IMPRINT.type-of-processed-data-3" | translate }}</li>
          <li>{{ "IMPRINT.type-of-processed-data-4" | translate }}</li>
          <li>{{ "IMPRINT.type-of-processed-data-5" | translate }}</li>
          <li>{{ "IMPRINT.type-of-processed-data-6" | translate }}</li>
        </ul>
        <h3>{{ "IMPRINT.categories-of-data-subjects" | translate }}</h3>
        <ul>
          <li>{{ "IMPRINT.category-affected-persons-1" | translate }}</li>
          <li>{{ "IMPRINT.category-affected-persons-2" | translate }}</li>
        </ul>
        <h3>{{ "IMPRINT.purposes-of-processing" | translate }}</h3>
        <ul>
          <li>{{ "IMPRINT.purpose-processing-1" | translate }}</li>
          <li>{{ "IMPRINT.purpose-processing-2" | translate }}</li>
          <li>{{ "IMPRINT.purpose-processing-3" | translate }}</li>
          <li>{{ "IMPRINT.purpose-processing-4" | translate }}</li>
          <li>
            {{ "IMPRINT.purpose-processing-5" | translate }}
          </li>
          <li>{{ "IMPRINT.purpose-processing-6" | translate }}</li>
          <li>{{ "IMPRINT.purpose-processing-7" | translate }}</li>
        </ul>
        <h2 id="m2427">{{ "IMPRINT.legal-bases-01" | translate }}</h2>
        <h2 id="m27">{{ "IMPRINT.security-measures" | translate }}</h2>
        <p>
          {{ "IMPRINT.legal-requirements" | translate }}
        </p>
        <br />
        <p>
          {{ "IMPRINT.measures-include" | translate }}
        </p>
        <h2 id="m25">
          {{ "IMPRINT.transmission-of-personal-data" | translate }}
        </h2>
        <p>
          {{ "IMPRINT.transmission-of-personal-data-02" | translate }}
        </p>
        <h2 id="m24">
          {{ "IMPRINT.international-data-transfers" | translate }}
        </h2>
        <h2 id="m10">
          {{ "IMPRINT.rights-of-the-data-subjects" | translate }}
        </h2>
        <h2 id="m225">{{ "IMPRINT.provision-of-01" | translate }}</h2>
        <p>
          {{ "IMPRINT.provision-of-02" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.provision-of-03" | translate }}
          </li>
          <li>
            {{ "IMPRINT.provision-of-04" | translate }}
          </li>
          <li>
            {{ "IMPRINT.provision-of-05" | translate }}
          </li>
          <li>
            {{ "IMPRINT.provision-of-06" | translate }}
          </li>
          <li class="">
            {{ "IMPRINT.provision-of-07" | translate }}
          </li>
        </ul>
        <p>
          {{ "IMPRINT.provision-of-08" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.provision-of-09" | translate }}
            <span> {{ "IMPRINT.provision-of-10" | translate }}</span>
            {{ "IMPRINT.provision-of-11" | translate }}
          </li>
        </ul>
        <h2 id="m134">{{ "IMPRINT.use-of-cookies-00" | translate }}</h2>
        <p>
          {{ "IMPRINT.use-of-cookies-01" | translate }}
        </p>
        <p>
          {{ "IMPRINT.use-of-cookies-02" | translate }}
        </p>
        <p>
          {{ "IMPRINT.use-of-cookies-03" | translate }}
        </p>
        <ul>
          <li>
            {{ "IMPRINT.use-of-cookies-04" | translate }}
          </li>
          <li>
            {{ "IMPRINT.use-of-cookies-05" | translate }}
          </li>
        </ul>
        <p>
          {{ "IMPRINT.use-of-cookies-06" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.use-of-cookies-07" | translate }}
          </li>
          <li>
            {{ "IMPRINT.use-of-cookies-08" | translate }}
          </li>
          <li class="">
            {{ "IMPRINT.use-of-cookies-09" | translate }}
          </li>
        </ul>
        <p>
          {{ "IMPRINT.use-of-cookies-10" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.use-of-cookies-11" | translate }}
            <span>{{ "IMPRINT.use-of-cookies-12" | translate }} </span>
          </li>
        </ul>
        <h2 id="m182">
          {{ "IMPRINT.contact-and-inquiry-management-00" | translate }}
        </h2>
        <p>
          {{ "IMPRINT.contact-and-inquiry-management-01" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.contact-and-inquiry-management-02" | translate }}
          </li>
          <li>
            {{ "IMPRINT.contact-and-inquiry-management-03" | translate }}
          </li>
          <li>
            {{ "IMPRINT.contact-and-inquiry-management-04" | translate }}
          </li>
          <li>
            {{ "IMPRINT.contact-and-inquiry-management-05" | translate }}
          </li>
          <li>
            {{ "IMPRINT.contact-and-inquiry-management-06" | translate }}
          </li>
        </ul>
        <p>
          {{ "IMPRINT.contact-and-inquiry-management-07" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.contact-and-inquiry-management-08" | translate }}

            <span>
              {{ "IMPRINT.contact-and-inquiry-management-09" | translate }}
            </span>
          </li>
        </ul>
        <h2 id="m136">
          {{ "IMPRINT.presences-in-social-networks-00" | translate }}
        </h2>
        <p>
          {{ "IMPRINT.presences-in-social-networks-01" | translate }}
        </p>
        <p>
          {{ "IMPRINT.presences-in-social-networks-02" | translate }}
        </p>
        <p>
          {{ "IMPRINT.presences-in-social-networks-03" | translate }}
        </p>
        <p>
          {{ "IMPRINT.presences-in-social-networks-04" | translate }}
        </p>
        <p>
          {{ "IMPRINT.presences-in-social-networks-05" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.presences-in-social-networks-06" | translate }}
          </li>
          <li>
            {{ "IMPRINT.presences-in-social-networks-07" | translate }}
          </li>
          <li>
            {{ "IMPRINT.presences-in-social-networks-08" | translate }}
          </li>
          <li>
            {{ "IMPRINT.presences-in-social-networks-09" | translate }}
          </li>
          <li>
            {{ "IMPRINT.presences-in-social-networks-10" | translate }}
          </li>
        </ul>
        <p>
          {{ "IMPRINT.presences-in-social-networks-11" | translate }}
        </p>
        <ul class="m-elements">
          <li>
            {{ "IMPRINT.presences-in-social-networks-12" | translate }}
            <br />
            <a
              href="https://www.linkedin.com/legal/privacy-policy"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              {{ "IMPRINT.linkedin-privacy-policy-00" | translate }}</a
            ><br />
            {{ "IMPRINT.linkedin-privacy-policy-01" | translate }}
            <br />
            <a
              href="https://legal.linkedin.com/pages-joint-controller-addendum"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              {{ "IMPRINT.linkedin-privacy-policy-02" | translate }}</a
            >),<br />
            {{ "IMPRINT.x-001" | translate }}

            <span> </span>
            {{ "IMPRINT.x-003" | translate }}
            <br />
            <a
              href="https://www.linkedin.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >https://www.linkedin.com</a
            >;
            {{ "IMPRINT.x-004" | translate }}
            <br />
            <a
              href="https://www.linkedin.com/legal/privacy-policy"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              {{ "IMPRINT.x-005" | translate }}</a
            >
            {{ "IMPRINT.x-006" | translate }}
            <br />
            <a
              href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              {{ "IMPRINT.x-007" | translate }} </a
            >.
          </li>
        </ul>
        <br />
        <p class="seal">
          <a
            href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            {{ "IMPRINT.x-008" | translate }}
            <br />{{ "IMPRINT.x-009" | translate }}
            <br />
            {{ "IMPRINT.x-010" | translate }}
            Dr. Thomas Schwenke</a
          >
        </p>
      </div>
    </div>
  </section>
</div>
