@use './styles/variables';
@use './styles/components/buttons/btn-hamburger';
@use './styles/components/buttons/btn-menu-primary';
@use './styles/components/buttons/btn-menu-secondary';
@use './styles/fonts';
@use './styles/mixins';
@use './styles/typography';
@use './styles/layout';

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
td,
th,
blockquote,
pre,
code,
input,
textarea,
select,
[contenteditable='true'] {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

a[href^='mailto:'],
a[href^='tel:'],
.selectable-link {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

body.no-scroll {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 2px solid var(--color-background);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
