<!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
<div
  class="theme-switcher"
  (focusout)="onFocusOut($event)"
  (keydown.escape)="closeDropdownAndRefocusToggle()"
>
  <button
    #toggleBtn
    class="theme-switcher__toggle"
    (click)="toggleDropdown()"
    [attr.aria-expanded]="isDropdownOpen()"
    [attr.aria-label]="translate('THEME.toggle')"
    [attr.title]="translate('THEME.toggle')"
  >
    @if (currentTheme() === 'light') {
      <img src="assets/images/theme/light-mode.svg" alt="" width="20" height="20" />
    } @else if (currentTheme() === 'dark') {
      <img src="assets/images/theme/dark-mode.svg" alt="" width="20" height="20" />
    } @else {
      <img src="assets/images/theme/computer.svg" alt="" width="20" height="20" />
    }
  </button>

  @if (isDropdownOpen()) {
    <div class="theme-switcher__dropdown">
      <button
        class="theme-switcher__option"
        [class.theme-switcher__option--active]="currentTheme() === 'light'"
        (click)="switchTheme('light')"
      >
        <img src="assets/images/theme/light-mode.svg" alt="" width="16" height="16" />
        <span>{{ translate('THEME.light') }}</span>
      </button>
      <button
        class="theme-switcher__option"
        [class.theme-switcher__option--active]="currentTheme() === 'dark'"
        (click)="switchTheme('dark')"
      >
        <img src="assets/images/theme/dark-mode.svg" alt="" width="16" height="16" />
        <span>{{ translate('THEME.dark') }}</span>
      </button>
      <button
        class="theme-switcher__option"
        [class.theme-switcher__option--active]="currentTheme() === 'auto'"
        (click)="switchTheme('auto')"
      >
        <img src="assets/images/theme/computer.svg" alt="" width="16" height="16" />
        <span>{{ translate('THEME.auto') }}</span>
      </button>
    </div>
  }
</div>
